<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" type="text/css" href="homepage.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=josefin+Sans:ital,wght@0,100;0,200;0,300;0,
    400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==
    " crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
    /* table,
    th,
    td {
        border: 1px solid white;
    }

    tr {
        color: azure;
    } */
</style>

<body>

    <div class="hero">
        <nav>
            <h2 class="logo">Expense<span>Tracker</span></h2>
            <ul class="ul1">
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="http://localhost:5000/home/subscription">Subscription</a></li>
                <li><a href="http://localhost:5000/home/leaderboard" id="leaderboard" style="display:none">Leaderboard</a></li>
                <li><a href="#">Sign Out</a></li>
                <!-- <li><a href="#">Contact Me</a></li> -->
            </ul>
            <a href="#" class="btn">saving mode</a>
        </nav>
        <div class="content">
            <h4></h4>
            <h1><span></span></h1>
            <h3></h3>
            <div class="newslatter">

                <form id="ExpenceForm">
                    <label for="ExpenseAmount"> Expense Amount:</label>
                    <input type="number" ; id="ExpenseAmount" ; min="0" ; max="1000000" ; steps="1" ;
                        name="ExpenseAmount">
                    <label for="Decription">Write Description:</label>
                    <input type="text" ; id="Description" ; name="Description">
                    <label>Select a category:</label>
                    <select id="dropdownList" ; name="dropdownList">
                        <option value="Grocery">Grocery</option>
                        <option value="Electricity">Electricity</option>
                        <option value="Mobile">Mobile</option>
                        <option value="Party">Party</option>
                        <option value="Other">Other</option>
                    </select>

                    <button type="submit" ;id="submitBtn" class="subbtn">Add Expense</button>

                </form>
                <section class="cont">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Options</th>

                            </tr>
                        </thead>
                        <tbody id="expenseTable">

                        </tbody>
                    </table>
                </section>

            </div>
        </div>
    </div>
    </div>









    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>

    <script>
        const expenseForm = document.getElementById('ExpenceForm')

        expenseForm.addEventListener('submit', (event) => {
            event.preventDefault()

            const amount = document.getElementById('ExpenseAmount').value
            const description = document.getElementById('Description').value
            const category = document.getElementById('dropdownList').value

            const expenseDetails = {
                amount,
                description,
                category
            }


            const token =  localStorage.getItem('token')

            axios.post('http://localhost:5000/home/addexpense', expenseDetails , {headers:{"Authorization":token}}).then((response) => {
                if (response.data.suc === true) {
                    alert('Expense is added successfully')
                }
                showExpenses(response.data.data)
                console.log(response)

            }).catch((err) => {
                alert('something went wrong')
            })

        })


        const showExpenses = (expenses) => {

            const expenseTable = document.getElementById('expenseTable');


            expenseTable.innerHTML +=
                `<tr id="${expenses.id}">
            <td >${expenses.amount}</td>
            <td >${expenses.description}</td>
            <td>${expenses.category}</td>
            
            <td><button  class="deletebtn" onclick="deleteExpense(${expenses.id})">
                    Delete</button>&#160<button   class="editbtn" onclick="editExpense(${expenses.id})">Update</button>
            
            </tr>`
        }


        window.addEventListener('DOMContentLoaded', (e) => {
            e.preventDefault()
            const token =  localStorage.getItem('token')
            axios.get('http://localhost:5000/home/getexpense',{headers:{"Authorization":token}}).then((response) => {
                console.log(response)
                for (i = 0; i < response.data.data.length; i++) {
                    showExpenses(response.data.data[i])
                }
            }).catch((err) => {
                alert(err)
            })
        })



        function deleteExpense(expenseID) {

             axios.delete(`http://localhost:5000/home/getexpense/delete/${expenseID}`)
             .then((response)=>{
            removeFromScreen(expenseID)
         }).then(err=>{
            console.log(err)
         })
        }




        function removeFromScreen(expenseID) {
            const parent = document.getElementById('expenseTable');
            const child = document.getElementById(expenseID)
            parent.removeChild(child)

        }

        document.addEventListener("DOMContentLoaded",()=>{
            const token = localStorage.getItem("token")
           axios.get("http://localhost:5000/home/issubscribed",{headers:{Authorization:token}}).then((res)=>{
            // console.log(res)
            if(res.data.permission[0].issubscribed === true){
                document.getElementById('leaderboard').style.display = "block"
            }

           })
        })

        document.getElementById('leaderboard').addEventListener('click', (e)=>{
            e.preventDefault()
            axios.get("http://localhost:5000/home/leaderboard").then(()=>{
                location.replace("http://localhost:5000/home/leaderboard")
            })
        })

      

    </script>