<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="sign-up.css">
    <!-- <link rel="stylesheet" type="text/css" href="slide navbar style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet"> -->
</head>


<body>
    <div class="hero">
        <nav>
            <h2 class="logo">Sign<span>Up</span></h2>
            <p class="small fw-bold mt-2 pt-1 mb-0" style="color:white;">Do have an already account? <a
                    href="http://localhost:5000/log-in" class="link-danger" style="color:#f9004d;">login</a></p>
        </nav>


        <div class="content">
            <h4>Beware of little expenses; a small leak will sink a great ship</h4>
            <h1>Expense<span>Tracker</span></h1>
            <h3></h3>
            <div class="newslatter">
                <form id="sign-up-form">
                    <input type="text" name="name" placeholder="Enter Your Name"><br><br>
                    <input type="email" name="email" placeholder="Enter Your Email"><br><br>
                    <input type="password" name="password" placeholder="Create Password"><br><br>
                    <input type="submit" name="submit" value="Sign-Up" class="subbtn">
                </form>
            </div>
        </div>
    </div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script>
        document.getElementById('sign-up-form').addEventListener('submit', (event) => {


            event.preventDefault()

            const name = event.target.name.value
            const email = event.target.email.value
            const password = event.target.password.value


            const signUpDetails = {
                name,
                email,
                password
            }

            axios.post('http://localhost:5000/sign-up', signUpDetails).then((result) => {
                if (result.data.success === true) {
                    alert("sign up  completed ! please login into your account")
                    event.target.name.value = ""
                    event.target.email.value = ""
                    event.target.password.value = ""
                }
                else {
                    if (result.data.errors[0].message === 'email must be unique') {
                        alert("user already exist ! please login")
                        event.target.name.value = ""
                        event.target.email.value = ""
                        event.target.password.value = ""
                    }
                }
            }).catch((err) => {
                console.log(err)
            })

        })








    </script>





</body>

</html>